
.controls {
    margin-bottom: 20px;
}
.page-header {
    margin-top: 20px;
}
ul {
    list-style: none;
}
.box {
    height: 100%;
    border: 1px solid #ccc;
    background-color: #fff;
}
.box-header {
    /*background-color: #eee;*/
    padding: 0 30px 0 10px;
    /*border-bottom: 1px solid #ccc;*/
    cursor: move;
    position: relative;
}
.box-header h3 {
    margin-top: 10px;
    display: inline-block;
}
.box-content {
    padding: 10px;
}
.box-header-btns {
    top: 15px;
    right: 10px;
    cursor: pointer;
    position: absolute;
}
a {
    color: #ccc;
}
form {
    margin-bottom: 0;
}
.gridster {
    border: 1px solid #ccc;
    background-color: rgb(244, 243, 246);
}

.box-header h3 {
    color: lightgray;
}

/*d3 styles*/
.legend {
    font-size: 11px;
}
.pin {
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

/*.graph-content {
    width: 420px;
    height: 380px;
}*/

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  fill:none;
  stroke:#000;
  shape-rendering: crispEdges;
}

.line {
  fill: none;
  stroke-width: 1.5px;
}
.box-link {
    padding: 10px 10px;
}

/***************************************************/

/*Stacked */


text {
    font: 10px sans-serif;
}

.axis path {
    display: none;
}

.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.group-label {
    font-weight: bold;
    text-anchor: end;
}

form {
    position: absolute;
    right: 10px;
    top: 10px;
}


/*Funel*/

body {
    font: 10px sans-serif;
}
.arc path {
    stroke: #fff;
}

/*Hierarchical*/

text {
    font: 10px sans-serif;
}

rect.background {
    fill: white;
}

.axis {
    shape-rendering: crispEdges;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
}


/*revenue*/

.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 11px;
}

.dot {
    stroke: #000;
}


.legend {
    padding: 5px;
    font: 10px sans-serif;
    background: yellow;
    box-shadow: 2px 2px 1px #888;
}