<div class="page-header">
	<a class="pull-right btn btn-primary" ng-click="addWidget('Html')"><i class="glyphicon glyphicon-plus"></i> Add Html</a>
	<div ng-repeat='graph in graphics'>
		<a class="pull-right btn btn-primary" ng-click="addWidget(graph)"><i class="glyphicon glyphicon-plus"></i> Add {{graph}}</a>
	</div>
	<!--<dashboard-buttons></dashboard-buttons>-->
	<!--<span class="box-link" ng-bind-html='getButtons()'></span>-->

	<a class="pull-right btn btn-warning" ng-click="clear()"><i class="glyphicon glyphicon-trash"></i> Clear</a>
	<h1 style="display: inline-block; width: 200px;">Dashboard</h1>
	<select class="form-control" style="width: 150px; margin-bottom: 20px; display:inline-block;" ng-change="changeDashboard()" ng-model="selectedDashboardId" ng-options="d.id as d.name for d in dashboards | object2Array | orderBy:'id'">
	</select>

</div>
<div gridster="gridsterOptions">
	<ul>
		<li gridster-item="widget" ng-repeat="widget in dashboard.widgets">
			<div class="box" ng-controller="CustomWidgetCtrl">
				<div class="box-header">
					<h3>{{ widget.name }}</h3>
					<div class="box-header-btns pull-right">
						<a title="settings" ng-click="update(widget)"><i class="glyphicon glyphicon-refresh"></i>
						<a title="settings" ng-click="changeSource(widget)"><i class="glyphicon glyphicon-file"></i>
						<a title="settings" ng-click="showMenu()"><i class="glyphicon glyphicon-list"></i>
							<ul class="sub-nav" ng-show="isShowing()" style="position: absolute; background-color: white; padding: 5px; border: 1px solid #CCC;">
								<li ng-repeat="element in modules">
									<a ng-click="changeGraphTo(widget, element)" style="text-decoration: none;">{{element}}</a>
								</li>
							</ul>
						</a>
						<a title="settings" ng-click="openSettings(widget)"><i class="glyphicon glyphicon-cog"></i></a>
						<a title="Remove widget" ng-click="remove(widget)"><i class="glyphicon glyphicon-trash"></i></a>
					</div>
				</div>
				<div class="box-content" id="{{ widget.id }}" title="{{ widget.type }}" draw-graph style="border:1px solid beige;">
					<span ng-if="widget.type == 'Html'" >
	    			    <widget-html text="{{widget.text}}"/>
					</span>
				</div>
				<widget-footer type="{{ widget.type }}"></widget-footer>
			</div>
		</li>
	</ul>
</div>
