<div class="demo-container">
    <h2>Standard Reports</h2>

    <p>
        Each item provides its own dimensions and position using the standard fields.
    </p>
    <div gridster="gridsterOpts">
        <ul>
            <li gridster-item="item" ng-repeat="item in standardItems">
                <div id="{{item.id}}" title="{{ item.type }}" drawing>
                </div>
            </li>
        </ul>
    </div>

    <h2>Custom Reports</h2>
    <p>
        Each item provides its own dimensions but with custom fields defined using customItemMap.
    </p>
    <div gridster="gridsterOpts">
        <ul>
            <li gridster-item="customItemMap" ng-repeat="item in customItems">
                <div id="{{item.id}}" title="{{ item.type }}" drawing>
                </div>
            </li>
        </ul>
    </div>

    <h2>Custom Reports 2</h2>
    <p>
        Each item provides its own dimensions but with custom fields indicated using html attributes.
    </p>
    <div gridster="gridsterOpts">
        <ul>
            <li gridster-item row="item.position[0]" col="item.position[1]" size-x="item.size.x" size-y="item.size.y" ng-repeat="item in customItems">
                <div id="{{item.id}}" title="{{ item.type }}" drawing>
                </div>
            </li>
        </ul>
    </div>
    <br/>
    <br/>
</div>
